<h1>Listado de clientes</h1>

<table border="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Password</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th colspan="5">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.password %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.direccion %></td>
        <td><%= link_to 'Mostrar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
		<td><%= link_to '+ Agregar equipo', new_cliente_equipo_path(cliente) %></td>
        <td><%= link_to 'Todos los equipos', cliente_equipos_path(cliente) %></td>
		<td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Regresar', welcome_index_path %>
<br>
<%= link_to 'Nuevo Cliente', new_cliente_path %>
