<p id="notice">Detalles del reporte: <%= @ticket.id %></p>


<p>
  <strong>Equipo:</strong>
  <%= @ticket.equipo.desc_corta %>
</p>

<p>
  <strong>Abierto:</strong>
  <%= @ticket.abierto %>
</p>

<p>
  <strong>Desc corta:</strong>
  <%= @ticket.desc_corta %>
</p>

<p>
  <strong>Detalles:</strong>
  <%= @ticket.detalles %>
</p>

<%= link_to 'Editar este reporte', edit_equipo_ticket_path(params[:equipo_id],@ticket) %>
<br>
<%= link_to 'Regresar a listado de reportes de este equipo', equipo_tickets_path %>
