<h1>Listado de equipos de <%= @cliente.nombre %> </h1>

<table border="1">
  <thead>
    <tr>
      <th>Desc corta</th>
      <th>Serie</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Ram</th>
      <th>Hd</th>
      <th>Cliente</th>
	  <th colspan="5">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @equipos.each do |equipo| %>
      <tr>
        <td><%= equipo.desc_corta %></td>
        <td><%= equipo.serie %></td>
        <td><%= equipo.marca %></td>
        <td><%= equipo.modelo %></td>
        <td><%= equipo.ram %></td>
        <td><%= equipo.hd %></td>
        <td><%= equipo.cliente.nombre %></td>
		<td><%= link_to 'Mostrar detalle', cliente_equipo_path(@cliente, equipo) %></td>
		<td><%= link_to 'Editar equipo', edit_cliente_equipo_path(@cliente, equipo) %></td>
		<td><%= link_to 'Nuevo reporte',  new_equipo_ticket_path(equipo) %></td>
		<td><%= link_to 'Reportes de este equipo', equipo_tickets_path(equipo) %></td>
		<td><%= link_to 'Eliminar', cliente_equipo_path(@cliente, equipo), method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Equipo', new_cliente_equipo_path %>
<br>
<%= link_to 'Regresar a lista de clientes', clientes_path %>

